body {
  background: linear-gradient(to right, #fbd3e9, #bb377d);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #bb377d;
  border-radius: 10px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #bb377d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #9c2e67;
}

#result {
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}
.corner-credit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px; /* या जितना चाहो */
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  
  border-radius: 12px;
  padding: 5px 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 999;
}

.moving-text {
  display: inline-block;
  animation: moveText 5s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}